attrs==19.3.0
blis==0.4.1
boto==2.49.0
boto3==1.12.19
botocore==1.15.19
bz2file==0.98
catalogue==1.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
docutils==0.15.2
empath==0.89
future==0.18.2
gensim==3.8.1
idna==2.9
importlib-metadata==1.5.0
jieba==0.39
jmespath==0.9.5
joblib==0.14.1
jsonschema==3.2.0
kiwisolver==1.1.0
matplotlib
murmurhash==1.0.0
nltk==3.4.5
numpy==1.18.1
pandas==0.25.2
plac==0.9.6
preshed==3.0.2
pycparser==2.20
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.15.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
s3transfer==0.3.3
scattertext==0.0.2.28
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
smart-open==1.9.0
spacy==2.2.3
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-2.2.5/es_core_news_sm-2.2.5.tar.gz
srsly>=0.1.0,<1.1.0
thinc==7.3.0
tornado==6.0.3
tqdm==4.43.0
urllib3==1.25.7
wasabi==0.6.0
win-inet-pton==1.1.0
wincertstore==0.2
zipp==3.1.0
